*{
    margin:0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color:white;

}
#header{
    background-color: rgb(0, 92, 153);
    color:white;
    padding:1rem;
    height: 10vh;
    font-size:1rem;
    transition:1s;
}
#header span{
    display:none;
    font-style:italic;
    transition:1s;
    font-size: 2rem;
}
#form{
    padding:1rem;
    background-color: rgb(92, 92, 92);
    height: 70vh;
}
input{
    border-radius: 1rem;
    border:none;
    font-size: 1rem;
}
#titleButton{
    background-color: rgb(163, 163, 163);
    font-size: 1rem;
    border-radius: 1rem;
    color:white;
    padding: 1rem 0;
    display: inline-block;
    width: 50vw;
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border:none;
    color:rgb(0, 92, 153);
    transition:1s;
    font-size: 1rem;
    font-weight: bolder;
    width:50vw;
}
button:active{
    background-color: rgb(3, 59, 97);
    color:rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(2, 29, 48);
    color:rgb(255, 255, 255);
    padding:1rem;
    font-size: 1.5rem;
}
button span{
    display:none;
}
